<div class="row">
	<div class="col-xs-12 " style="text-align: center;">
		<b>{{title}}</b>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="bs-example bs-example-tabs" role="tabpanel"
			data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li>
					<a class="pointer" ng-click="open()">
						<i class="fa fa-plus" aria-expanded="false"></i>
					</a>
				</li>
				<li role="presentation" data-ng-click="active = 'backlog'"><a class="pointer">
						<b style="color: #000000;">Backlog</b>
				</a></li>
				<li>
					<a class="pointer" data-ng-click="showStats()"><b>Stats</b></a>
				</li>
				<li ng-repeat="sprint in sprints track by $index"><a class="pointer"
					style="color: #000000;" data-ng-click="switchSprint(sprint)">
						{{sprint.sprintid}} </a></li>
			</ul>
		</div>
	</div>
</div>
<div class="separator"></div>
<div data-ng-if="active == 'backlog'">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-1 label-default">
				<div class="col-xs-1" style="text-align: center; color: #FFFFFF";>
					<b>Theme</b>
				</div>
			</div>
			<div class="col-xs-11 label-default">
				<div class="row">
					<div class="col-xs-2" style="text-align: left; color: #FFFFFF";>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ID</b>
					</div>
					<div class="col-xs-2" style="text-align: left; color: #FFFFFF";>
						<b>User Story</b>
					</div>
					<div class="col-xs-2" style="text-align: left; color: #FFFFFF";>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Acceptance
							Criteria</b>
					</div>
					<div class="col-xs-2" style="text-align: left; color: #FFFFFF";>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Comments</b>
					</div>
					<div class="col-xs-1" style="text-align: left; color: #FFFFFF";>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Points</b>
					</div>
					<div class="col-xs-1" style="text-align: left; color: #FFFFFF";>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Cost</b>
					</div>
					<div class="col-xs-1" style="text-align: left; color: #FFFFFF";>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Days</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row thumbnail" data-drop="true"
				ng-repeat="themes in backlog track by $index"
				data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=backlog])'}"
				jqyoui-droppable="{multiple:true}">
				<div class="col-xs-1">
					<div class="col-xs-12">
						{{themes.name}} </br> <a class="col-xs-5" title="Delete theme"
							style="color: #000;" data-ng-click="deleteTheme(themes)"
							class="pointer">&#10006;</a>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="row">
						<div class="btn btn-default btn-draggable col-xs-12"
							style="margin-top: 10px; border: 1px solid; padding-bottom: 10px;"
							ng-repeat="item in themes.theme track  by $index"
							ng-show="item.code" data-drag="{{item.drag}}"
							data-jqyoui-options="{revert: 'invalid'}"
							jqyoui-draggable="{index: {{$index}},animate:true}">
							<div class="col-xs-1">
								{{item.id}}</br> <a class="col-xs-8" title="Delete story"
									style="color: #000;"
									data-ng-click="deleteStory(item,$parent.$index)"
									class="pointer">&#10006;</a> <i class="fa fa-pencil-square"
									ng-click="openEditStory($index)"></i>
								<div class="col-xs-12">{{item.sprint}}</div>
							</div>

							<div class="col-xs-3" style="text-align: left">
								<ul style="list-style: none;">

									<li class="col-xs-4"><b>As</b></li>
									<div class="col-xs-8">{{item.userstoryln1}}</div>
									</br>
									<li class="col-xs-4"><b>I want to</b></li>
									<div class="col-xs-8">{{item.userstoryln2}}</div>
									<li class="col-xs-4"><b>So I can</b></li>
									<div class="col-xs-8">{{item.userstoryln3}}</div>
								</ul>
							</div>
							<div class="col-xs-1"></div>
							<div class="col-xs-1">{{item.criteria}}</div>
							<div class="col-xs-3">{{item.comments}}</div>

							<div class="col-xs-1">
								<span style="text-align: left;">{{item.points}}</span>
							</div>
							<div class="col-xs-1">{{item.cost}}</div>
							<div class="col-xs-1">{{item.days}}</div>
						</div>
					</div>
					<div class="separator"></div>
					<div class="row">
						<button type="button" class="btn btn-primary"
							ng-click="openCreateStory($index)">Add Story</button>
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="separator"></div>
			<div class="text-center">
				<button type="button" class="btn btn-primary"
					ng-click="openCreateTheme()">Add Theme</button>
			</div>
			<br /> <br />
		</div>
	</div>
</div>

<div data-ng-repeat="sprint in sprints track by $index"
	data-ng-if="active == sprint.sprintid">
	<div class="col-xs-12">
		<div class="col-xs-1">
			<div class="row">
				<div class="col-xs-12">
					<b>{{sprint.sprintid}} Stories: </b>
				</div>
			</div>
		</div>
		<div class="col-xs-11">
			<div class="row thumbnail" data-drop="true"
				ng-repeat="themes in backlog "
				data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=backlog])'}"
				jqyoui-droppable="{multiple:true}">
				<div class="col-xs-12">
					<div class="row">
						<div class="btn btn-default btn-draggable col-xs-12"
							style="margin-top: 10px; border: 1px solid; padding-bottom: 10px;"
							ng-repeat="item in themes.theme track  by $index"
							ng-show="item.code" data-drag="{{item.drag}}"
							data-jqyoui-options="{revert: 'invalid'}"
							jqyoui-draggable="{index: {{$index}},animate:true}"
							data-ng-if="item.sprint==sprint.sprintid">
							<div class="col-xs-4" style="text-align: left">
								<ul style="list-style: none;">
									<div class="col-xs-12">
										<li class="col-xs-4"><b>ID:</b></li>
										<div class="col-xs-8">{{item.id}}</div>
										<br />
									</div>
									<div class="col-xs-12">
										<li class="col-xs-4"><b>Points:</b></li>
										<div class="col-xs-8">{{item.sprint}}</div>
									</div>
								</ul>
							</div>

							<div class="col-xs-4" style="text-align: left">

								<ul style="list-style: none;">
									<li class="col-xs-4"><b>Theme</b></li>
									<div class="col-xs-8">{{themes.name}}</div>
									</br>
									<li class="col-xs-4"><b>As</b></li>
									<div class="col-xs-8">{{item.userstoryln1}}</div>
									</br>
									<li class="col-xs-4"><b>I want to</b></li>
									<div class="col-xs-8">{{item.userstoryln2}}</div>
									<li class="col-xs-4"><b>So I can</b></li>
									<div class="col-xs-8">{{item.userstoryln3}}</div>
								</ul>
							</div>
							<div class="col-xs-4">
								<ul style="list-style: none;">
									<li class="col-xs-4"><b>Criteria</b></li>
									<div class="col-xs-8">{{item.criteria}}</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-ng-if="active == 'stats'" style="min-height: 500px">
	<div data-google-chart data-chart="chartObject" style="{{cssStyle}}"></div>
</div>