
<div class="col-xs-12 " style="text-align: center;">
	<b>{{title}}</b>
</div>
<div>
	<div>
		<b>Backlog</b>
		<button class="btn btn-success btn-sm" ng-click="open()">
			<span class="glyphicon glyphicon-plus" aria-expanded="false"></span>
		</button>
	</div>
</div>
<div class="col-xs-12">
	<div class="col-xs-1 label-default">
		<div class="col-xs-1" style="text-align: center; color: #FFFFFF";>
			<b>Theme</b>
		</div>
	</div>
	<div class="col-xs-11 label-default">
		<div class="col-xs-1" style="text-align: center; color: #FFFFFF";>
			<b>ID</b>
		</div>
		<div class="col-xs-3" style="text-align: center; color: #FFFFFF";>
			<b>User Story</b>
		</div>
		<div class="col-xs-2" style="text-align: center; color: #FFFFFF";>
			<b>Acceptance Criteria</b>
		</div>
		<div class="col-xs-3" style="text-align: center; color: #FFFFFF";>
			<b>Comments</b>
		</div>
		<div class="col-xs-1" style="text-align: center; color: #FFFFFF";>
			<b>Points</b>
		</div>
		<div class="col-xs-1" style="text-align: center; color: #FFFFFF";>
			<b>Cost</b>
		</div>
		<div class="col-xs-1" style="text-align: center; color: #FFFFFF";>
			<b>Days</b>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="row thumbnail" 
		data-drop="true" ng-repeat="themes in backlog"
		data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=backlog])'}"
		jqyoui-droppable="{multiple:true}">
		<div class="col-xs-1">
			<div class="col-xs-12">
				<input class="col-xs-12" type="text" id="txtAs"
					value="{{themes.name}}"> </br> <a class="col-xs-5"
					title="Delete theme" style="color: #000;"
					data-ng-click="deleteTheme()" class="pointer">&#10006;</a>
			</div>
		</div>
		<div class="col-xs-11">
			<div class="row btn btn-default btn-draggable col-xs-12"
				style="margin-top: 10px;" ng-repeat="item in themes.theme"
				ng-show="item.code" data-drag="{{item.drag}}"
				data-jqyoui-options="{revert: 'invalid'}" ng-model="theme1"
				jqyoui-draggable="{index: {{$index}},animate:true}">
				<div class="col-xs-1">
					<input class="col-xs-5" type="text" id="txtAs" value="{{item.id}}"></br>
					<a class="col-xs-8" title="Delete story" style="color: #000;"
						data-ng-click="deleteStory()" class="pointer">&#10006;</a>
				</div>

				<div class="col-xs-3" style="text-align: left">
					<ul style="list-style: none;">
						<div class="col-xs-4">As</div>
						<div class="col-xs-8">
							<input type="text" value="{{item.userstoryln1}}">
						</div>
						</br>
						<div class="col-xs-4">I want to</div>
						<div class="col-xs-8">
							<textarea id="txtAreaIWantTo">{{item.userstoryln2}}</textarea>
						</div>
						<div class="col-xs-4">So I can</div>
						<div class="col-xs-8">
							<textarea id="txtAreaSoICan">{{item.userstoryln3}}</textarea>
						</div>
					</ul>
				</div>

				<div class="col-xs-2">
					<div ng-repeat="criteria in item.criteria" class="col-xs-10">
						<textarea id="txtAreaCriteria">{{criteria}}</textarea>
					</div>
				</div>
				<div class="col-xs-3">
					<textarea id="txtComments">{{item.comments}}</textarea>
				</div>

				<div class="col-xs-1">
					<input class="col-xs-5" type="text" id="txtpoints"
						value="{{item.points}}" style="float: none";>
				</div>
				<div class="col-xs-1">
					<input class="col-xs-5" type="text" id="txtcost"
						value="{{item.cost}}" style="float: none";>
				</div>
				<div class="col-xs-1">
					<input class="col-xs-5" type="text" id="txtdays"
						value="{{item.days}}" style="float: none";>
				</div>
			</div>
		</div>
	</div>
</div>