<div class="col-xs-12 " style="text-align: center;">
	<b>{{title}}</b>
</div>
<div class="col-xs-4 btn btn-sm btn-info" style="text-align: center;">
	<b>REQUESTED</b>  ({{list1.length}} /  {{list1.length + list2.length + list3.length}})
</div>
<div class="col-xs-4 btn btn-warning btn-sm" style="text-align: center;">
	<b>IN PROGRESS</b>  ({{list2.length}} /  {{list1.length + list2.length + list3.length}})
</div>
<div class="col-xs-4 btn btn-sm btn-danger" style="text-align: center;">
	<b>DONE</b>  ({{list3.length}} /  {{list1.length + list2.length + list3.length}})
</div>

<div>
	<div>
		<b>Tasks</b>
		<button class="btn btn-success btn-sm" ng-click="open()">
			<span class="glyphicon glyphicon-plus" aria-expanded="false"></span>
		</button>
	</div>
</div>

<div class="col-xs-4">
	<div class="thumbnail" style="height: 780px !important;" data-drop="true" ng-model='list1'
		data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list1])'}"
		jqyoui-droppable="{multiple:true}">
		<div>
			<div class="btn btn-default btn-draggable col-xs-12" style="margin-top: 10px;" ng-repeat="item in list1"
				ng-show="item.title" data-drag="{{item.drag}}"
				data-jqyoui-options="{revert: 'invalid'}" ng-model="list1"
				jqyoui-draggable="{index: {{$index}},animate:true}">
				<div class="col-xs-10">
					<h4>
						<b>Title:</b> {{item.title}}
					</h4>
				</div>
				<div class="col-xs-2">
					<a title="Delete listing" style="color: #000;"
						data-ng-click="deleteListing1(item)" class="pointer">&#10006;</a>
				</div>
				<div class="col-xs-6">
					<b>User:</b><span>{{item.assigneduser}}</span>
				</div>
				<div class="col-xs-6">
					<div>
						<b>Description:</b> <span>{{item.description}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-4">
	<div class="thumbnail" style="height: 780px !important;" data-drop="true" ng-model='list2'
		data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list2])'}"
		jqyoui-droppable="{multiple:true}">
		<div>
			<div class="btn btn-default btn-draggable col-xs-12" style="margin-top: 10px;" ng-repeat="item in list2"
				ng-show="item.title" data-drag="{{item.drag}}"
				data-jqyoui-options="{revert: 'invalid'}" ng-model="list2"
				jqyoui-draggable="{index: {{$index}},animate:true}">
				<div class="col-xs-10">
					<h4>
						<b>Title:</b> {{item.title}}
					</h4>
				</div>
				<div class="col-xs-2">
					<a title="Delete listing" style="color: #000;"
						data-ng-click="deleteListing2(item)" class="pointer">&#10006;</a>
				</div>
				<div class="col-xs-6">
					<b>User:</b><span>{{item.assigneduser}}</span>
				</div>
				<div class="col-xs-6">
					<div>
						<b>Description:</b> <span>{{item.description}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-4">
	<div class="thumbnail" style="height: 780px !important;" data-drop="true" ng-model='list3'
		data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list3])'}"
		jqyoui-droppable="{multiple:true}">
		<div>
			<div class="btn btn-default btn-draggable col-xs-12" style="margin-top: 10px;" ng-repeat="item in list3"
				ng-show="item.title" data-drag="{{item.drag}}"
				data-jqyoui-options="{revert: 'invalid'}" ng-model="list3"
				jqyoui-draggable="{index: {{$index}},animate:true}">
				<div class="col-xs-10">
					<h4>
						<b>Title:</b> {{item.title}}
					</h4>
				</div>
				<div class="col-xs-2">
					<a title="Delete listing" style="color: #000;"
						data-ng-click="deleteListing3(item)" class="pointer">&#10006;</a>
				</div>
				<div class="col-xs-6">
					<b>User:</b><span>{{item.assigneduser}}</span>
				</div>
				<div class="col-xs-6">
					<div>
						<b>Description:</b> <span>{{item.description}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
