
<div class="row">
	<div class="col-xs-12 " style="text-align: center;">
		<b>{{title}}</b>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-4 btn btn-sm btn-info" style="text-align: center;">
			<b>REQUESTED</b>  ({{list1.length}} /  {{list1.length + list2.length + list3.length}})
		</div>
		<div class="col-xs-4 btn btn-warning btn-sm" style="text-align: center;">
			<b>IN PROGRESS</b>  ({{list2.length}} /  {{list1.length + list2.length + list3.length}})
		</div>
		<div class="col-xs-4 btn btn-sm btn-danger" style="text-align: center;">
			<b>DONE</b>  ({{list3.length}} /  {{list1.length + list2.length + list3.length}})
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<div class="separator"></div>
		<button class="btn btn-success btn-sm" ng-click="open()">
			<i class="fa fa-plus"></i> Task
		</button> | 
		<button class="btn btn-default btn-sm" data-ng-click="showProgress()">
			Show Progress
		</button>
		<div class="separator"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-4">
		<div class="thumbnail" style="height: 780px !important;" data-drop="true" ng-model='list1'
			data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list1])'}"
			jqyoui-droppable="{multiple:true}">
			<div>
				<div class="btn btn-default btn-draggable col-xs-12" style="margin-top: 10px;" ng-repeat="item in list1 track by $index"
					ng-show="item.title" data-drag="true"
					data-jqyoui-options="{revert: 'invalid'}" ng-model="list1"
					jqyoui-draggable="{index: {{$index}},animate:true,onDrop:updateListing1($event,$index,list1)}">
					<div class="col-xs-10">
						<h4>
							<b>Title:</b> {{item.title}}
						</h4>
					</div>
					<div class="col-xs-2">
						<a title="Delete listing" style="color: #000;"
							data-ng-click="deleteListing1(item)" class="pointer">&#10006;</a>
					</div>
					<div class="col-xs-6">
						<b>User:</b><span>{{item.assigneduser}}</span>
					</div>
					<div class="col-xs-6">
						<div>
							<b>Description:</b> <span>{{item.description}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-xs-4">
		<div class="thumbnail" style="height: 780px !important;" data-drop="true" ng-model='list2'
			data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list2])'}"
			jqyoui-droppable="{multiple:true}">
			<div>
				<div class="btn btn-default btn-draggable col-xs-12" style="margin-top: 10px;" ng-repeat="item in list2 track by $index"
					ng-show="item.title" data-drag="true"
					data-jqyoui-options="{revert: 'invalid'}" ng-model="list2"
					jqyoui-draggable="{index: {{$index}},animate:true,onDrop:updateListing2($event,$index,list2)}">
					<div class="col-xs-10">
						<h4>
							<b>Title:</b> {{item.title}}
						</h4>
					</div>
					<div class="col-xs-2">
						<a title="Delete listing" style="color: #000;"
							data-ng-click="deleteListing2(item)" class="pointer">&#10006;</a>
					</div>
					<div class="col-xs-6" data-ng-repeat="users in item.assigneduser">
						<b>User:</b><span>{{users}}</span>
					</div>
					<div class="col-xs-6">
						<div>
							<b>Description:</b> <span>{{item.description}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-xs-4">
		<div class="thumbnail" style="height: 780px !important;" data-drop="true" ng-model='list3'
			data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list3])'}"
			jqyoui-droppable="{multiple:true}">
			<div>
				<div class="btn btn-default btn-draggable col-xs-12" style="margin-top: 10px;" ng-repeat="item in list3 track by $index"
					ng-show="item.title" data-drag="true"
					data-jqyoui-options="{revert: 'invalid'}" ng-model="list3"
					jqyoui-draggable="{index: {{$index}},animate:true,onDrop:updateListing3($event,$index,list3)}">
					<div class="col-xs-10">
						<h4>
							
							<b>Title:</b> {{item.title}}
						</h4>
					</div>
					<div class="col-xs-2">
						<a title="Delete listing" style="color: #000;"
							data-ng-click="deleteListing3(item)" class="pointer">&#10006;</a>
					</div>
					<div class="col-xs-6">
						<b>User:</b><span>{{item.assigneduser}}</span>
					</div>
					<div class="col-xs-6">
						<div>
							<b>Description:</b> <span>{{item.description}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>