<div>{{title}}</div>
<div>
	<div>
		<b>Projects  </b>
		<button class="btn btn-success btn-sm" ng-click="open()">
			<span class="glyphicon glyphicon-plus" aria-expanded="false"></span>
		</button>
	</div>
</div>
<div ng-repeat="item in list1">
	<div data-ui-sref="root.app.kanban" data-ng-if="item.type=='Kanban'">
		<div class="col-xs-2">
			<b>Type: </b><span>{{item.type}}</span>
		</div>
		<div class="col-xs-2">
			<div>
				<b>Title: </b> <span>{{item.title}}</span>
			</div>
		</div>
		<br/> 
	</div>
	<div data-ui-sref="root.app.easybacklog"
		data-ng-if="item.type=='EasyBackog'">
		<div class="col-xs-2">
			<b>Type: </b><span>{{item.type}}</span>
		</div>
		<div class="col-xs-2">
			<div>
				<b>Title: </b> <span>{{item.title}}</span>
			</div>
		</div>
		<br/> 
	</div>
	<div data-ui-sref="root.app.gantter" data-ng-if="item.type=='Gantter'">
		<div class="col-xs-2">
			<b>Type: </b><span>{{item.type}}</span>
		</div>
		<div class="col-xs-2">
			<div>
				<b>Title: </b> <span>{{item.title}}</span>
			</div>
		</div>
		<br/> 
	</div>
</div>